html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* width: 100; */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
  width: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #3b1369;
  width: 99vw !important;
  height: 5rem;
}
main {
  grid-area: main;
  padding: 1rem;
  margin-bottom: -8rem;
  /* background-color: #cbc3e3; */
}
.navigation {
  background-color: #3b1369;
  margin-bottom: 1rem;
  margin-top: -1.1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
.navigation ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.nav-item {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  list-style: none;
  color: white;
  background-color: #18062f;
  text-transform: capitalize;
  transition: 0.3s all ease-in-out;
}
.nav-item:hover {
  color: #140329;
  background-color: white;
}

footer {
  /* grid-area: footer; */
  background-color: #18062f;
  color: #ffffff;
  width: auto;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
h6 {
  font-size: 1.5rem !important;
  padding: 1rem 0;
  color: #9292ce !important;
}
a {
  text-decoration: none;
}
a:hover {
  color: #9292ce;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  display: inline-block;
  padding: 12px 30px;
  background-color: #9292ce;
  border: none;
  border-radius: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
button.primary:hover,
button.primary:focus {
  opacity: 0.85;
  color: rgb(252, 232, 232);
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: cursive;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 15rem;
  width: 100%;
}
img.large {
  max-width: 29rem;
  width: 100%;
}

/* Card */

.product-card {
  height: 30rem;
  padding: 0.5rem;
  width: auto;
  margin: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(230, 219, 219, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(230, 219, 219, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(230, 219, 219, 0.75);
  transition: 0.3s all ease-in-out;
}

.product-card:hover {
  box-shadow: 0px 0px 5px 3px rgba(230, 219, 219, 0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(230, 219, 219, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(230, 219, 219, 0.75);
  transform: scale(1.05);
}
.product-card img {
  height: 14rem;
  width: 19rem;
}
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.card-body h3 {
  font-size: 1.5rem !important;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: orange;
  margin: 0.1rem;
  font-size: 1.3rem;
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
  /* z-index: 5; */
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 5;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-contentx {
  position: absolute;
  display: none;
  left: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 5;
  background-color: #203040;
  margin: 0;
  /* margin-top: 0rem; */
  border-radius: 0.5rem;
}
.dropdown-contentx li a {
  color: #fff !important;
}
.dropdown-contentx li {
  padding: 0.1rem !important;
}
.dropdown-contentx li a:hover {
  color: #9292ce !important;
}
.dropdown:hover .dropdown-contentx {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #9292ce;
  color: #9292ce;
}
/* Table */
.table-scroll {
  width: 96vw;
  overflow-x: scroll;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide .legend {
  max-width: 30rem;
  height: 20rem;
  text-align: center !important;
  color: #fff;
  font-size: 20rem !important;
  font-family: cursive !important;
}
.sliderr {
  height: 30rem;
  background-color: #9292ce;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97vw !important;
}
.sliderr p {
  font-size: 30rem;
}

/* Search */
.search {
  box-shadow: 0px 0px 5px 0px rgba(59, 19, 105, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(59, 19, 105, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(59, 19, 105, 0.75);
}
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  border: 2px solid white;
  margin-left: 0.2rem;
  width: 30vw;
}
.search input:focus {
  border: 2px solid #9292ce;
  outline: none;
}
.active {
  font-weight: bold;
}

/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 20;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: 0px solid rgb(193, 47, 47);
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}

/* error paage */

.erorr {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: cursive, sans;
  color: #9292ce !important;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

/* chat box */

.chatbox {
  color: #000000;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.chatbox ul {
  overflow: scroll;
  max-height: 20rem;
}
.chatbox li {
  margin-bottom: 1rem;
}
.chatbox input {
  width: calc(100% -9rem);
}
.support-users {
  background: #f8f8f8;
  height: 100%;
}
.support-users li {
  background-color: #f0f0f0;
  margin: 0;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li .selected {
  background-color: #c0c0c0;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}
.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}

/* filter */
.filter {
  display: none;
  transition: 0.3s ease-in-out;
}
.filteropen {
  display: block;
}
.order-filter {
  padding-bottom: 1rem;
  border-bottom: 5px solid #eee;
}
/* pages */

/* home */

.home {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: -1rem;
  margin-bottom: 1rem;
  background-color: #cbc3e3;
  align-items: center;
  justify-content: center;
}
.feature {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 97vw;
  margin-bottom: 2rem;
  /* margin: 2rem; */
}
/* .feature::-webkit-scrollbar {    display: none;} */
.feature-top {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 10px 10px 0 0;
  background-color: rgb(62, 60, 60);
  /* width: 96vw; */
}
.feature-top h2 {
  color: white;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.feature-bottom {
  background-color: white;
  height: 100%;
  min-width: 0;
  border-radius: 0 0 10px 10px;
  /* overflow-x: scroll; */
}
.produts-row {
  display: flex;
  /* flex-direction: row; */
  /* overflow-x: scroll; */
  /* overflow-x: scroll;
  -webkit-overflow-scrolling: touch; */
}

.li-banner {
  background-color: #3b1369;
  margin: 1rem;
  border-radius: 5px;
}

/* slider */
.slider-with-banner {
  width: 96vw;
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding-top: 1rem;
  box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -webkit-box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -moz-box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
}
.slider {
  width: 60vw;
  padding-left: 1rem;
}
.banner {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.banner-img {
  width: 300px !important;
  height: 200px;
}
.single-slide {
  height: 400px;
  /* width: 60vw !important; */
  background-repeat: no-repeat;
  background-size: cover !important;
  border-radius: 5px;
  padding: 1rem 0;
  color: #6d36ad !important;
  font-weight: bold;
}
.slider-content {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.banner-btn {
  font-size: 3.5rem;
  font-weight: 800;
  color: #a02020 !important;
}
.about {
  display: flex;
  flex-direction: column;
  color: #1f2c3d;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -webkit-box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -moz-box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
}
.foot-container {
  margin-top: 10rem;
}

.heer {
  border: 5px solid #eee;
  padding: 15px;
}
.department {
  margin-top: 10px;
}

.max-close {
  display: none;
  margin-right: 2rem !important;
}
.mini-close {
  display: block;
}
@media only screen and (max-width: 767px) {
  .mini-close {
    display: none;
  }
  .max-close {
    display: block;
  }
  .navigation {
    display: none;
  }
  .feature {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 95vw;
    /* margin: 2rem; */
  }
  .slider-with-banner {
    width: 95vw;
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding-top: 1rem;
  }
  .slider {
    width: 93vw;
    padding-left: 0.2rem;
  }
  .banner {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .banner-img {
    width: 43vw !important;
    height: 150px;
  }
  .single-slide {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover !important;
    border-radius: 5px;
   
  }
}

@media only screen and (max-width: 576px) {
  .sort-by {
    transform: translateX(-40px);
  }
  .produts-row {
    /* width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 1px ; */
  }
  .product-card {
    height: 22rem;
    width: auto;
  }
  .product-card img {
    height: 12rem;
    width: 12rem;
    align-self: center !important;
  }
  .product-card .price {
    font-size: 12px;
    font-weight: bold;
  }

  .rating span {
    color: orange;
    margin: 0.1rem;
    font-size: 1rem;
  }
  /* .rating span:last-child {
    color: #676565;
    font-size: 1rem;
  } */
  .heer {
    border: none;
    padding: 0;
    width: 95vw;
  }
  .single-slide {
    height: 200px;
    width: 93vw;
    background-repeat: no-repeat;
    background-size: cover !important;
    border-radius: 5px;
    
  }
  .slider-with-banner {
    width: 94vw;
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    margin-left: 0;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding-top: 1rem;
  }
  .banner-img {
    width: 42vw !important;
    height: 100px;
  }
}
