html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* width: 100; */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
  width: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header,
.first-header {
  display: block;
  grid-area: header;
  background: #ffff;
  width: 99vw !important;
  height: 5rem;
  color: #9292ce !important;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 3px 5px -3px #000;
  -moz-box-shadow: 0 3px 5px -3px #000;
  box-shadow: 0 3px 5px -3px #000;
  padding-bottom: 1rem;
  /* margin-bottom: 1rem; */

}
.second-header {
  display: none;
}
.second-header a {
  color: #4e0352 !important;
}
.img-header {
  height: auto;
  width: 100px;
}
main {
  grid-area: main;
  /* padding: 1rem; */
  margin-bottom: -8rem;
  /* background-color: #cbc3e3; */
}
.navigation {
  background-color: #4e0352;
  margin-bottom: 1rem;
  width: 100%;
  /* margin-left: -1rem; */
  /* margin-right: -1rem; */
}
.navigation ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.nav-item {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  list-style: none;
  color: white;
  background-color: #4e0352;
  text-transform: capitalize;
  transition: 0.3s all ease-in-out;
}
.active-link {
  background: white !important;
  color: #4e0352 !important;
}
.nav-item:hover {
  color: #4e0352;
  background-color: white;
}

footer {
  /* grid-area: footer; */
  background-color: #18062f;
  color: #ffffff;
  width: auto;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
h6 {
  font-size: 1.5rem !important;
  padding: 1rem 0;
  color: #9292ce !important;
}
a {
  text-decoration: none;
}
a:hover {
  color: #9292ce;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  display: inline-block;
  padding: 12px 30px;
  background-color: #fff;
  border: 2px solid #4e0352;
  border-radius: 40px;
  color: #4e0352;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
button.primary:hover,
button.primary:focus {
  opacity: 0.85;
  background-color: #4e0352;
  color: rgb(252, 232, 232);
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: cursive;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.mobile-badge {
  background-color: #fbd0d0;
  color: #4e0352;
  border-radius: 50%;
  padding: 0.2rem 0.2rem;
  font-size: 0.8rem;
  margin-bottom: 10px !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
  margin-top: 1em;
  padding: 0.5rem;
  box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -webkit-box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -moz-box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
}
.top-cart {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 1.5em;
  margin-top: 1em;
  padding: 0.5rem;
  box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -webkit-box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -moz-box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
}
.top-order {
  align-items: flex-start;
  display: grid;
  margin: 2rem;
  grid-gap: 2rem;
  grid-template-columns: 5fr 3fr;
}
.top-search {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 15rem;
  width: 100%;
}
img.large {
  max-width: 29rem;
  width: 100%;
}

/* Card */

.product-card {
  height: 30rem;
  padding: 0.5rem;
  width: auto;
  margin: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(230, 219, 219, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(230, 219, 219, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(230, 219, 219, 0.75);
  transition: 0.3s all ease-in-out;
}
.description {
  display: flex;
  flex-wrap: wrap;
  width: 18rem;
  font-size: 1.2rem;
}
.product-overflow {
  height: 330px !important;
}
.product-card:hover {
  box-shadow: 0px 0px 5px 3px rgba(230, 219, 219, 0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(230, 219, 219, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(230, 219, 219, 0.75);
  transform: scale(1.05);
}
.product-card img {
  height: 14rem;
  width: 19rem;
}
.card {
  /* border: 0.1rem #c0c0c0 solid; */
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.card-body h3 {
  font-size: 1.5rem !important;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: orange;
  margin: 0.1rem;
  font-size: 1.3rem;
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
  /* padding-bottom: 1rem; */
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
  /* z-index: 5; */
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 5;
  background-color: #4e0352;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-contentx {
  position: absolute;
  display: none;
  left: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 5;
  background-color: #4e0352;
  margin: 0;
  /* margin-top: 0rem; */
  border-radius: 0.5rem;
}
.dropdown-contentx li a {
  color: #fff !important;
}
.dropdown-contentx li {
  padding: 0.1rem !important;
}
.dropdown-contentx li a:hover {
  background-color: #9292ce !important;
}
.dropdown:hover .dropdown-contentx {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #9292ce;
  color: #9292ce;
}
/* Table */
.table-scroll {
  width: 96vw;
  overflow-x: scroll !important;
}
.table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll !important;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #4e0352;
  padding: 0.5rem;
}
.table th select{
  /* width: 50%; */
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide .legend {
  max-width: 30rem;
  height: 20rem;
  text-align: center !important;
  color: #fff;
  font-size: 20rem !important;
  font-family: cursive !important;
}
.sliderr {
  height: 30rem;
  background-color: #9292ce;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97vw !important;
}
.sliderr p {
  font-size: 30rem;
}

/* Search */
.search {
  display: flex;
  flex-direction: row;
  /* grid-template-columns: 8fr 1fr */
}
/* .search-form{
display: grid;
grid-template-columns: 5fr 1fr
} */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
  width: 5vw;
  box-shadow: 0px 0px 5px 0px rgba(59, 19, 105, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(59, 19, 105, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(59, 19, 105, 0.75);
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  border: 2px solid white;
  margin-left: 0.2rem;
  width: 30vw;
  box-shadow: 0px 0px 5px 0px rgba(59, 19, 105, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(59, 19, 105, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(59, 19, 105, 0.75);
}
.search input:focus {
  border: 2px solid #9292ce;
  outline: none;
}
.active {
  font-weight: bold;
}

/* Aside */
aside {
  position: fixed;
  width: 20rem;
  height: 100%;
  background-color: #efefef;
  z-index: 20;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: 0px solid rgb(193, 47, 47);
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}

/* error paage */

.erorr {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: cursive, sans;
  color: #9292ce !important;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

/* chat box */

.chatbox {
  color: #000000;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.chatbox ul {
  overflow: scroll;
  max-height: 20rem;
}
.chatbox li {
  margin-bottom: 1rem;
}
.chatbox input {
  width: calc(100% -9rem);
}
.support-users {
  background: #f8f8f8;
  height: 100%;
}
.support-users li {
  background-color: #f0f0f0;
  margin: 0;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li .selected {
  background-color: #c0c0c0;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}
.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}

/* filter */
.filter {
  display: none;
  transition: 0.3s ease-in-out;
}
.filteropen {
  display: block;
}
.order-filter {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  border-bottom: 5px solid #eee;
}
/* pages */

/* home */

.home {
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  margin: -1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #cbc3e3;
  align-items: center;
  justify-content: center;
}
.feature {
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 99vw;
  margin-bottom: 1rem;
  /* margin: 2rem; */
}

.feature-top {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 5px 5px 0 0;
  background: #4a4a4a
    url(https://res.cloudinary.com/staging-konga-com/image/upload/f_auto,q_auto/assets/images/homepage/category_icons.png)
    no-repeat;
  /* width: 96vw; */
}
.feature-top h2 {
  color: #fff;
  margin-left: 2rem;
  margin-top: 1rem;
}
.feature-bottom {
  background-color: white;
  height: 100%;
  min-width: 0;
  border-radius: 0 0 10px 10px;
  /* overflow-x: scroll; */
}
.order-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
}
.produts-row {
  display: flex;
}
.produts-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.li-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem 0rem;
  border-radius: 4px;
  position: relative;
}
.banner-li {
  position: relative;
}

/* slider */
.slider-with-banner {
  width: 97vw;
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
  /* margin-bottom: 1rem; */
  border-radius: 5px;
  padding-top: 1rem;
  box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -webkit-box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -moz-box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
}
.slider {
  width: 60vw;
  padding-left: 1rem;
}
.banner {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}
.banner-cat {
  position: absolute;
  margin-left: 5.5rem;
  transform: translateY(7rem);
  z-index: 4;
  font-size: 3rem;
  font-family: cursive;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.banner-img {
  width: 15.5vw;
  /* opacity: 0.9; */
  height: 200px;
  transition: 0.2s all ease-in-out;
  z-index: 4;
}
.banner-li:hover .banner-img {
  /* width: auto; */
  opacity: 0.2;
  transform: scale(1.03);
  height: 200px;
}
.banner-li:hover .banner-cat {
  background-color: red;
  padding: 0.3rem;
  border-radius: 1rem;
}
.single-slide {
  height: 400px;
  /* width: 60vw !important; */
  background-repeat: no-repeat;
  background-size: cover !important;
  border-radius: 5px;
  padding: 1rem 0;
  color: #6d36ad !important;
  font-weight: bold;
}
.slider-content {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.banner-btn {
  font-size: 3.5rem;
  font-weight: 800;
  color: #a02020 !important;
}

.about {
  height: 30vh;
  display: flex;
  flex-direction: column;
  /* color: #1f2c3d; */
  background-color: white;
  /* margin: 1rem;
  padding: 1rem; */
  margin-top: 10rem;
  border-radius: 5px;
  box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -webkit-box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -moz-box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
}
.foot-container {
  margin-top: 10rem;
}

.heer {
  border: 5px solid #eee;
  padding: 15px;
}
.department {
  margin-top: 10px;
}

.max-close {
  display: none;
  margin-right: 2rem !important;
}
.mini-close {
  display: block;
}

/* feature */
.features {
  width: 96vw;
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.features-mobile {
  display: none;
}
.featrure {
  background-color: #fff;
  padding: 1rem 0.1rem 0rem 0.1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
}
.jumia-image {
  width: 97%;
  height: auto;
  margin: 15px;
}

/* '''''''' mobile header '''''''''' */
.head {
  display: flex;
  /* background: red; */
  flex-direction: column;
  color: #4e0352;
  width: 100vw;
  height: 100%;
  padding-bottom: 2px;
}
.head-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}
.head-rigth,
.head-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.head-category {
  display: none;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; */
}
.head-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-input {
  height: 15px;
  width: 65vw;
  outline: none;
  border: none;
  background-color: #b8b7b7;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.header-button {
  height: 35px;
  width: 15vw;
  outline: none;
  border: none;
  color: white;
  background-color: #4e0352;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.header-cat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -4px;
}
.header-cat-item p {
  font-size: 12px;
  color: #4e0352;
  margin-top: -3px;
}
/* shop banner */
.shop-banner{
  display: grid;
  border-radius: 12px;
  grid-template-columns: 1fr 1fr;
  /* padding: 1rem; */
  grid-gap: 1rem;
  background-color: white;
  height: 100%;
  width: 96vw;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 1vw;
  margin-top: 1vw;
}
.shop-image{
  height: auto;
  width: 80%;
  margin: 5px;
  margin-left: 2rem;
}
.shop-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
  font-size: 5vw;
}
.shop-texts{
  line-height: 40px;
}
.search-page{
  margin-top: 1rem;
}
.category-name{
  display:flex;
  padding-top: .5rem;
  padding-bottom: .5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: -9px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -webkit-box-shadow: -9px 1px 18px -9px rgba(122, 41, 41, 0.71);
  -moz-box-shadow: -9px 1px 18px -9px rgba(122, 41, 41, 0.71);
}
.category-name h1{
  line-height:0;
  text-transform: capitalize;
}
.category-name h6{
  line-height: 0;
  font-size: 10px !important;
  margin-top: -.5rem;
}

/* '''''''''''' mobile header ends ......... */

@media only screen and (max-width: 950px) {
  .banner-cat {
    position: absolute;
    margin-left: 2rem;
    transform: translateY(5rem);
    z-index: 4;
    font-size: 2rem;
    font-family: cursive;
    font-weight: 700;
  }
  .shop-texts{
    line-height: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .img-header {
    height: auto;
    width: 90px;
  }
  .mini-close {
    display: none;
  }
  .max-close {
    display: block;
  }
  .navigation {
    display: none;
  }
  .head-category {
    display: flex;
    background: #ffff;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .feature {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 95vw;
    /* margin: 2rem; */
  }
  .features {
    display: none;
  }
  .slider-with-banner {
    width: 97vw;
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding-top: 1rem;
  }
  .slider {
    width: 93vw;
    padding-left: 0.2rem;
  }
  .banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .banner-img {
    width: 20vw !important;
    height: 150px;
  }
  .single-slide {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover !important;
    border-radius: 5px;
  }
  .banner-cat {
    position: absolute;
    margin-left: 3rem;
    transform: translateY(4rem);
    z-index: 4;
    font-size: 2rem;
    font-family: cursive;
    font-weight: 700;
  }
  .banner-li:hover .banner-img {
    opacity: 0.5;
    transform: none !important;
    height: auto;
  }
  .shop-texts{
    line-height: 25px;
  }
}
/* page drop */
@media only screen and (min-width: 576px) {
.page-drop{
  margin-top: 1.5rem;
}
}
@media only screen and (max-width: 576px) {
  .home {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: -1rem;
    margin-bottom: 1rem;
    margin-top: -2rem;
    background-color: #cbc3e3;
    align-items: center;
    justify-content: center;
  }
  .features-mobile {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    width: 96vw;
  }
  .featrure {
    background-color: #fff;
    padding: 1rem 0.1rem 0rem 0.1rem;
    margin: 0.3rem;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 18px -9px rgba(122, 41, 41, 0.71);
  }
  .first-header {
    display: none !important;
  }
  .second-header {
    display: block;
    grid-area: header;
    background: #ffff;
    width: 100vw !important;
    height: 8rem !important;
    justify-content: center;
    align-items: center;
    z-index: 9;
    padding-bottom: 3px;
    margin-bottom: 8px;
    -webkit-box-shadow: 0 3px 5px -3px #000;
    -moz-box-shadow: 0 3px 5px -3px #000;
    box-shadow: 0 3px 5px -3px #000;
  }
  .search-page{
    margin-top: -5px;
    width: 98vw!important;
  }
  .head-category {
    display: flex;
    background: #ffff;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -3rem;
    z-index: 18;
  }
  main {
    grid-area: main;
    padding: 1rem 0rem;
    margin-bottom: -8rem;
    margin-top: 6rem;
    /* background-color: #cbc3e3; */
  }
  .img-header {
    height: auto;
    width: 80px;
  }
  .banner {
    display: none !important;
  }
  .sort-by {
    margin-right: 2vw;
    /* transform: translateX(-40px); */
  }
  .produts-row {
    /* width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 1px ; */
  }
  .product-card {
    height: 23rem;
    width: auto;
  }
  .product-overflow {
    height: 270px !important;
  }
  .row.top {
    grid-template-columns: 1fr;
  }
  .top-cart {
    grid-template-columns: 1fr;
  }
  .top-order {
    grid-template-columns: 1fr;
  }
  .top-search {
    grid-template-columns: 1fr;
    margin-top: -1rem; 
    width: 95vw !important;
    align-self: center;
    
  }
  .product-card img {
    height: 12rem;
    width: 12rem;
    align-self: center !important;
  }
  .product-card .price {
    font-size: 12px;
    font-weight: bold;
  }
  .description {
    display: flex;
    flex-wrap: wrap;
    width: 11rem;
    font-size: 1rem;
  }

  .rating span {
    color: orange;
    margin: 0.1rem;
    font-size: 1rem;
  }
  /* .rating span:last-child {
    color: #676565;
    font-size: 1rem;
  } */
  .heer {
    border: none;
    padding: 0;
    width: 100vw;
  }
  .single-slide {
    height: 200px;
    width: 93vw;
    background-repeat: no-repeat;
    background-size: cover !important;
    border-radius: 5px;
  }
  .slider-with-banner {
    width: 94vw;
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    margin-left: 0;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: -1rem;
  }
  .banner-img {
    width: 42vw !important;
    height: 120px;
    margin-bottom: -1rem;
  }
  .banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .banner-cat {
    position: absolute;
    margin-left: 4rem;
    transform: translateY(3rem);
    z-index: 4;
    font-size: 2rem;
    font-family: cursive;
    font-weight: 700;
  }
  .banner-li:hover .banner-img {
    /* width: auto; */
    opacity: 0.5;
    transform: none !important;
    height: 100px;
  }
  .checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    font-size: 12px;
    padding: 0.5rem;
    font-weight: bold;
  }
  .jumia-image {
    width: 94%;
    height: auto;
    margin: 12px;
  }
  button.primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4e0352;
    border: none;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .feature {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 95vw;
    margin: 0.5rem;
  }
  .shop-texts{
    line-height: 20px;
  }
  .table td,
.table th {
  text-align: left;
  border: 0.05rem solid #4e0352;
  padding: 0.2rem;
  text-transform: capitalize;
  font-size: 1rem;
}
.table button {
  margin: 0 0.2rem;
}
}
@media only screen and (max-width: 376px) {
  .shop-texts{
    line-height: 5px;
    
  }
  .shop-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    font-size: 5vw;
  }
}